@{
    ViewBag.Title = "Home Page";
}

<div class="text-center jumbotron">
    <h1>🅱𝕠𝕠ks™</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            Register rentals for customer for particular book.
           
        </p>
    </div>
    
</div>